<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="kr.peelknight.mybatis.attachmentMapper">
	<select id="selectAttachmentGroup" resultType="kr.peelknight.common.model.CM_AttachmentGroup"
			statementType="PREPARED" parameterType="java.util.Map">
		SELECT idKey, groupFileCount, userIdKey
		  FROM CM_AttachmentGroup
		 WHERE idKey <![CDATA[ > ]]> 0
		<if test="idKey != null">
		   AND idKey = #{idKey}
		</if>
	</select>

	<select id="selectAttachment" resultType="kr.peelknight.common.model.CM_Attachment"
			statementType="PREPARED" parameterType="java.util.Map">
		SELECT idKey, groupIdKey, fileName, fileSize, downCount, 
			   serverFilePath
		  FROM CM_Attachment
		 WHERE idKey <![CDATA[ > ]]> 0
		<if test="idKey != null">
		   AND idKey = #{idKey}
		</if>
		<if test="groupIdKey != null">
		   AND groupIdKey = #{groupIdKey}
		</if>
	</select>

	<insert id="insertAttachmentGroup" parameterType="kr.peelknight.common.model.CM_AttachmentGroup"
		statementType="PREPARED" useGeneratedKeys="true" keyProperty="idKey">
		INSERT INTO CM_AttachmentGroup (
			groupFileCount, userIdKey
		) VALUES (
			#{groupFileCount}, #{userIdKey}
		)
	</insert>

	<insert id="insertAttachment" parameterType="kr.peelknight.common.model.CM_Attachment"
		statementType="PREPARED" useGeneratedKeys="true" keyProperty="idKey">
		INSERT INTO CM_Attachment (
			groupIdKey, fileName, fileSize, downCount, serverFilePath
		) VALUES (
			#{groupIdKey}, #{fileName}, #{fileSize}, #{downCount}, #{serverFilePath}
		)
	</insert>

	<update id="updateAttachmentGroup" parameterType="kr.peelknight.common.model.CM_AttachmentGroup">
		UPDATE CM_AttachmentGroup SET
			   groupFileCount = #{groupFileCount},
			   userIdKey = #{userIdKey}
		 WHERE idKey = #{idKey}
	</update>

	<delete id="deleteAttachmentGroup" parameterType="kr.peelknight.common.model.CM_AttachmentGroup">
		DELETE FROM CM_AttachmentGroup
		 WHERE idKey = #{idKey}
	</delete>

	<update id="updateAttachment" parameterType="kr.peelknight.common.model.CM_Attachment">
		UPDATE CM_Attachment SET
			   downCount = #{downCount}
		 WHERE idKey = #{idKey}
	</update>

	<delete id="deleteAttachment" parameterType="kr.peelknight.common.model.CM_Attachment">
		DELETE FROM CM_Attachment
		 WHERE idKey = #{idKey}
	</delete>
</mapper>
