<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="kr.peelknight.mybatis.codetypeMapper">
	<select id="selectCodeType" resultType="kr.peelknight.common.model.CM_CodeType"
			statementType="PREPARED" parameterType="java.util.Map">
		SELECT type, typeName
		  FROM CM_CodeType
		 WHERE 1 = 1
		<if test="type != null">
		   AND type = #{type}
		</if>
		ORDER BY type
		<if test="offset != null and size != null">
		 LIMIT ${offset}, ${size}
		</if>
	</select>

	<select id="selectCodeTypePaging" resultType="kr.peelknight.common.model.CM_Paging"
			statementType="PREPARED" parameterType="java.util.Map">
		SELECT COUNT(type) as totalCount
		  FROM CM_CodeType
		 WHERE 1 = 1
		<if test="type != null">
		   AND type = #{type}
		</if>
	</select>

	<insert id="insertCodeType" parameterType="kr.peelknight.common.model.CM_CodeType"
		statementType="PREPARED">
		INSERT INTO CM_CodeType (
			type, typeName
		) VALUES (
			#{type}, #{typeName}
		)
	</insert>

	<update id="updateCodeType" parameterType="kr.peelknight.common.model.CM_CodeType">
		UPDATE CM_CodeType SET
			   typeName = #{typeName}
		 WHERE type = #{type}
	</update>

	<delete id="deleteCodeType" parameterType="kr.peelknight.common.model.CM_CodeType">
		DELETE FROM CM_CodeType
		 WHERE type = #{type}
	</delete>
</mapper>
