<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.peelknight.daemon.mybatis.daemonMapper">
	<select id="selectDaemon" resultType="kr.peelknight.daemon.model.CM_Daemon"
			statementType="PREPARED" parameterType="java.util.Map">
		SELECT A.idKey      , A.daemonName, A.className, A.orderSeq, A.status,
			   A.autoStartYN,
			   B.codeName AS statusName,
			   C.codeName AS autoStartNm
		  FROM CM_Daemon A INNER JOIN CM_Code B
							  ON B.type = 'DAEMONSTATUS'
							 AND A.status = B.code
						   INNER JOIN CM_Code C
							  ON C.type = 'DAEMONAUTOSTART'
							 AND A.autoStartYN = C.code
		 WHERE A.idKey <![CDATA[ > ]]> 0
		<if test="idKey != null">
		   AND A.idKey = #{idKey}
		</if>
		<if test="offset != null and size != null">
		 LIMIT ${offset}, ${size}
		</if>
	</select>

	<select id="selectDaemonPaging" resultType="kr.peelknight.common.model.CM_Paging"
			statementType="PREPARED" parameterType="java.util.Map">
		SELECT COUNT(idKey) as totalCount
		  FROM CM_Daemon
		 WHERE idKey <![CDATA[ > ]]> 0
		<if test="idKey != null">
		   AND idKey = #{idKey}
		</if>
	</select>

	<insert id="insertDaemon" parameterType="kr.peelknight.daemon.model.CM_Daemon"
		statementType="PREPARED" useGeneratedKeys="true" keyProperty="idKey">
		INSERT INTO CM_Daemon (
			daemonName, className, orderSeq, status, autoStartYN
		) VALUES (
			#{daemonName}, #{className}, #{orderSeq}, #{status}, #{autoStartYN}
		)
	</insert>

	<update id="updateDaemon" parameterType="kr.peelknight.daemon.model.CM_Daemon">
		UPDATE CM_Daemon SET
			   daemonName = #{daemonName},
			   className = #{className},
			   orderSeq = #{orderSeq},
			   status = #{status},
			   autoStartYN = #{autoStartYN}
		 WHERE idKey = #{idKey}
	</update>

	<delete id="deleteDaemon" parameterType="kr.peelknight.daemon.model.CM_Daemon">
		DELETE FROM CM_Daemon
		 WHERE idKey = #{idKey}
	</delete>
</mapper>