<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="kr.peelknight.mybatis.deviceMapper">
	<delete id="deleteDevicesByUniqueId" parameterType="kr.peelknight.common.model.CM_Device"
		statementType="PREPARED">
		DELETE FROM CM_Device
		 WHERE uniqueId = #{uniqueId}
	</delete>
	
	<delete id="deleteOtherDevicesByUniqueId" parameterType="kr.peelknight.common.model.CM_Device"
		statementType="PREPARED">
		DELETE FROM CM_Device
		 WHERE uniqueId = #{uniqueId}
		   AND userIdKey <![CDATA[ <> ]]> #{userIdKey}
	</delete>
	
	<delete id="deleteOtherDevicesByPushKey" parameterType="kr.peelknight.common.model.CM_Device"
		statementType="PREPARED">
		DELETE FROM CM_Device
		 WHERE pushKey = #{pushKey}
		   AND userIdKey <![CDATA[ <> ]]> #{userIdKey}
	</delete>
	
	<select id="selectDeviceByUniqueIdAndUserId" resultType="kr.peelknight.common.model.CM_Device"
		statementType="PREPARED">
		SELECT idKey, userIdKey, uniqueId, pushKey
		  FROM CM_Device
		 WHERE userIdKey = #{userIdKey}
		   AND uniqueId = #{uniqueId}
	</select>
	
	<select id="selectDeviceByPushKeyAndUserId" resultType="kr.peelknight.common.model.CM_Device"
		statementType="PREPARED">
		SELECT idKey, userIdKey, uniqueId, pushKey
		  FROM CM_Device
		 WHERE userIdKey = #{userIdKey}
		   AND pushKey = #{pushKey}
	</select>
	
	<select id="selectDeviceByUserIdKey" resultType="kr.peelknight.common.model.CM_Device"
		statementType="PREPARED">
		SELECT idKey, userIdKey, uniqueId, pushKey, deviceType
		  FROM CM_Device
		 WHERE userIdKey = #{userIdKey}
	</select>
	
	<update id="updateDevicePushKeyWithUniqueId" parameterType="kr.peelknight.common.model.CM_Device"
		statementType="PREPARED">
		UPDATE CM_Device
		   SET pushKey = #{pushKey}
		 WHERE uniqueId = #{uniqueId}
	</update>
	
	<update id="updateDeviceUniqueIdWithPushKey" parameterType="kr.peelknight.common.model.CM_Device"
		statementType="PREPARED">
		UPDATE CM_Device
		   SET uniqueId = #{uniqueId}
		 WHERE pushKey = #{pushKey}
	</update>
	
	<insert id="insertDevice" parameterType="kr.peelknight.common.model.CM_Device"
		statementType="PREPARED" useGeneratedKeys="true" keyProperty="idKey">
		INSERT INTO CM_Device (
			userIdKey, uniqueId, pushKey, deviceType
		) VALUES (
			#{userIdKey}, #{uniqueId}, #{pushKey}, #{deviceType}
		)
	</insert>
</mapper>
