<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="kr.peelknight.mybatis.initMapper">
	<update id="createCMUser" parameterType="java.util.Map" statementType="PREPARED">
		CREATE TABLE IF NOT EXISTS CM_User (
			idKey BIGINT NOT NULL AUTO_INCREMENT,
			userId VARCHAR(100) NOT NULL,
			password VARCHAR(1024) NULL,
			userType CHAR(1) NOT NULL,
			userName VARCHAR(200) NULL,
			status CHAR(1) NULL,
			loginFailCount INT NULL,
			lastLoginDate DATETIME NULL,
			lastLoginSeq BIGINT NULL,
			createDate DATETIME NULL,
			PRIMARY KEY (idKey)
		);
	</update>
	<update id="createIdxUserIdCMUser" parameterType="java.util.Map" statementType="PREPARED">
		CREATE INDEX idx_userId_CM_User ON CM_User(userId);
	</update>
	<update id="createIdxUserTypeCMUser" parameterType="java.util.Map" statementType="PREPARED">
		CREATE INDEX idx_userType_CM_User ON CM_User(userType);
	</update>
	<update id="createCMDevice" parameterType="java.util.Map" statementType="PREPARED">
		CREATE TABLE IF NOT EXISTS CM_Device (
			idKey BIGINT NOT NULL AUTO_INCREMENT,
			userIdKey BIGINT NOT NULL,
			uniqueId VARCHAR(4096) NULL,
			pushKey VARCHAR(4096) NULL,
			deviceType VARCHAR(20) NULL,
			PRIMARY KEY (idKey)
		);
	</update>
	<update id="createIdxUniqueIdCMDevice" parameterType="java.util.Map" statementType="PREPARED">
		CREATE INDEX idx_uniqueId_CM_Device ON CM_Device(uniqueId);
	</update>
	<update id="createIdxPushKeyCMDevice" parameterType="java.util.Map" statementType="PREPARED">
		CREATE INDEX idx_pushKey_CM_Device ON CM_Device(pushKey);
	</update>
	<update id="createIdxUserIdKeyCMDevice" parameterType="java.util.Map" statementType="PREPARED">
		CREATE INDEX idx_userIdKey_CM_Device ON CM_Device(userIdKey);
	</update>
	<update id="createCMVersion" parameterType="java.util.Map" statementType="PREPARED">
		CREATE TABLE IF NOT EXISTS CM_Version (
			idKey BIGINT NOT NULL AUTO_INCREMENT,
			version VARCHAR(30) NULL,
			status CHAR(1) NULL,
			iosUpgradeUrl VARCHAR(1024) NULL,
			androidUpgradeUrl VARCHAR(1024) NULL,
			PRIMARY KEY (idKey)
		);
	</update>
	<update id="createIdxVersionCMVersion" parameterType="java.util.Map" statementType="PREPARED">
		CREATE INDEX idx_version_CM_Version ON CM_Version(version);
	</update>
	<update id="createCMCode" parameterType="java.util.Map" statementType="PREPARED">
		CREATE TABLE IF NOT EXISTS CM_Code (
			type VARCHAR(30) NOT NULL,
			code VARCHAR(30) NOT NULL,
			codeName VARCHAR(1024) NULL,
			comment VARCHAR(1024) NULL,
			orderSeq INT NULL,
			PRIMARY KEY (type, code)
		);
	</update>
	<update id="dropCMCode" parameterType="java.util.Map" statementType="PREPARED">
		DROP TABLE CM_Code;
	</update>
	<update id="createCMCodeType" parameterType="java.util.Map" statementType="PREPARED">
		CREATE TABLE IF NOT EXISTS CM_CodeType (
			type VARCHAR(30) NOT NULL,
			typeName VARCHAR(1024) NULL,
			PRIMARY KEY (type)
		);
	</update>
	<update id="dropCMCodeType" parameterType="java.util.Map" statementType="PREPARED">
		DROP TABLE CM_CodeType;
	</update>
	<update id="createCMMenu" parameterType="java.util.Map" statementType="PREPARED">
		CREATE TABLE IF NOT EXISTS CM_Menu (
			idKey BIGINT NOT NULL AUTO_INCREMENT,
			parentIdKey BIGINT NULL,
			menuName VARCHAR(200) NULL,
			menuUrl VARCHAR(4096) NULL,
			comment VARCHAR(4096) NULL,
			status CHAR(1) NULL,
			orderSeq INT NULL,
			PRIMARY KEY (idKey)
		);
	</update>
	<update id="createIdxParentIdKeyCMMenu" parameterType="java.util.Map" statementType="PREPARED">
		CREATE INDEX idx_parentIdKey_CM_Menu ON CM_Menu(parentIdKey);
	</update>
	<update id="createCMMenuAuth" parameterType="java.util.Map" statementType="PREPARED">
		CREATE TABLE IF NOT EXISTS CM_MenuAuth (
			idKey BIGINT NOT NULL AUTO_INCREMENT,
			userType CHAR(1) NOT NULL,
			menuIdKey BIGINT NOT NULL,
			allowYN CHAR(1) NULL, 
			PRIMARY KEY (idKey)
		);
	</update>
	<update id="createIdxuserTypeCMMenuAuth" parameterType="java.util.Map" statementType="PREPARED">
		CREATE INDEX idx_userType_CM_MenuAuth ON CM_MenuAuth(userType);
	</update>
	<update id="createIdxMenuIdKeyCMMenuAuth" parameterType="java.util.Map" statementType="PREPARED">
		CREATE INDEX idx_menuIdKey_CM_MenuAuth ON CM_MenuAuth(menuIdKey);
	</update>
	<update id="createCMAttachment" parameterType="java.util.Map" statementType="PREPARED">
		CREATE TABLE IF NOT EXISTS CM_Attachment (
			idKey BIGINT NOT NULL AUTO_INCREMENT,
			groupIdKey BIGINT NOT NULL,
			fileName VARCHAR(1024) NULL,
			fileSize INT NULL,
			downCount INT NULL,
			serverFilePath VARCHAR(1024) NULL,
			PRIMARY KEY (idKey)
		);
	</update>
	<update id="createIdxGroupIdKeyCMAttachment" parameterType="java.util.Map" statementType="PREPARED">
		CREATE INDEX idx_groupIdKey_CM_Attachment ON CM_Attachment(groupIdKey);
	</update>
	<update id="createCMAttachmentGroup" parameterType="java.util.Map" statementType="PREPARED">
		CREATE TABLE IF NOT EXISTS CM_AttachmentGroup (
			idKey BIGINT NOT NULL AUTO_INCREMENT,
			groupFileCount INT NULL,
			userIdKey BIGINT NULL,
			PRIMARY KEY (idKey)
		);
	</update>
	<update id="createCMBoard" parameterType="java.util.Map" statementType="PREPARED">
		CREATE TABLE IF NOT EXISTS CM_Board (
			idKey BIGINT NOT NULL AUTO_INCREMENT,
			boardType CHAR(1) NULL,
			boardId VARCHAR(128) NULL,
			boardName VARCHAR(1024) NULL,
			attachmentYN CHAR(1) NULL,
			answerYN CHAR(1) NULL,
			replyYN CHAR(1) NULL,
			topYN CHAR(1) NULL,
			loginViewYN CHAR(1) NULL,
			secretYN CHAR(1) NULL,
			status CHAR(1) NULL,
			PRIMARY KEY (idKey)
		);
	</update>
	<update id="createIdxBoardIdCMBoard" parameterType="java.util.Map" statementType="PREPARED">
		CREATE INDEX idx_boardId_CM_Board ON CM_Board(boardId);
	</update>
	<update id="createCMBoardContent" parameterType="java.util.Map" statementType="PREPARED">
		CREATE TABLE IF NOT EXISTS CM_BoardContent (
			idKey BIGINT NOT NULL AUTO_INCREMENT,
			boardIdKey BIGINT NULL,
			title VARCHAR(1024) NULL,
			content VARCHAR(4096) NULL,
			attachGroupIdKey BIGINT NULL,
			parentIdKey BIGINT NULL,
			privateYN CHAR(1) NULL,
			topYN CHAR(1) NULL,
			viewCount INT NULL,
			status CHAR(1) NULL,
			replyCount INT NULL,
			creator BIGINT NULL,
			createDate DATETIME NULL,
			modifier BIGINT NULL,
			modifiedDate DATETIME NULL,
			PRIMARY KEY (idKey)
		);
	</update>
	<update id="createIdxBoardIdKeyCMBoardContent" parameterType="java.util.Map" statementType="PREPARED">
		CREATE INDEX idx_boardIdKey_CM_BoardContent ON CM_BoardContent(boardIdKey);
	</update>
	<update id="createIdxTopYNCMBoardContent" parameterType="java.util.Map" statementType="PREPARED">
		CREATE INDEX idx_topYN_CM_BoardContent ON CM_BoardContent(topYN);
	</update>
	<update id="createIdxCreateDateCMBoardContent" parameterType="java.util.Map" statementType="PREPARED">
		CREATE INDEX idx_createDate_CM_BoardContent ON CM_BoardContent(createDate);
	</update>
	<update id="createIdxStatusCMBoardContent" parameterType="java.util.Map" statementType="PREPARED">
		CREATE INDEX idx_status_CM_BoardContent ON CM_BoardContent(status);
	</update>
	<update id="createCMBoardAuth" parameterType="java.util.Map" statementType="PREPARED">
		CREATE TABLE IF NOT EXISTS CM_BoardAuth (
			idKey BIGINT NOT NULL AUTO_INCREMENT,
			boardIdKey BIGINT NULL,
			userType CHAR(1) NULL,
			allowPrivateViewYN CHAR(1) NULL,
			allowUpdateYN CHAR(1) NULL,
			allowUpdateOthersYN char(1) NULL,
			PRIMARY KEY (idKey)
		);
	</update>
	<update id="createCMBoardContentReply" parameterType="java.util.Map" statementType="PREPARED">
		CREATE TABLE IF NOT EXISTS CM_BoardContentReply (
			idKey BIGINT NOT NULL AUTO_INCREMENT,
			boardContentIdKey BIGINT NULL,
			parentIdKey BIGINT NULL,
			reply VARCHAR(4096) NULL,
			attachGroupIdKey BIGINT NULL,
			status CHAR(1) NULL,
			creator BIGINT NULL,
			createDate DATETIME NULL,
			modifier BIGINT NULL,
			modifiedDate DATETIME NULL,
			PRIMARY KEY (idKey)
		);
	</update>
	<update id="createIdxBoardContentIdKeyCMBoardContentReply" parameterType="java.util.Map" statementType="PREPARED">
		CREATE INDEX idx_boardContentIdKey_CM_BoardContentReply ON CM_BoardContentReply(boardContentIdKey);
	</update>
	<update id="createIdxParentIdKeyCMBoardContentReply" parameterType="java.util.Map" statementType="PREPARED">
		CREATE INDEX idx_parentIdKey_CM_BoardContentReply ON CM_BoardContentReply(parentIdKey);
	</update>
	<update id="createIdxStatusCMBoardContentReply" parameterType="java.util.Map" statementType="PREPARED">
		CREATE INDEX idx_status_CM_BoardContentReply ON CM_BoardContentReply(status);
	</update>
	<update id="createCML10N" parameterType="java.util.Map" statementType="PREPARED">
		CREATE TABLE IF NOT EXISTS CM_L10N (
			idKey BIGINT NOT NULL AUTO_INCREMENT,
			idString VARCHAR(50) NOT NULL,
			defaultString VARCHAR(2048) NULL,
			PRIMARY KEY (idKey)
		);
	</update>
	<update id="dropCML10N" parameterType="java.util.Map" statementType="PREPARED">
		DROP TABLE CM_L10N;
	</update>
	<update id="dropCML10NLocale" parameterType="java.util.Map" statementType="PREPARED">
		DROP TABLE CM_L10NLocale;
	</update>
	<update id="createIdxIdStringCML10N" parameterType="java.util.Map" statementType="PREPARED">
		CREATE INDEX idx_idString_CM_L10N ON CM_L10N(idString);
	</update>
	<update id="createCML10NLocale" parameterType="java.util.Map" statementType="PREPARED">
		CREATE TABLE IF NOT EXISTS CM_L10NLocale (
			idKey BIGINT NOT NULL AUTO_INCREMENT,
			idString VARCHAR(50) NOT NULL,
			locale CHAR(5) NOT NULL,
			localeString VARCHAR(2048) NULL,
			PRIMARY KEY (idKey)
		);
	</update>
	<update id="createIdxIdStringLocaleCML10NLocale" parameterType="java.util.Map" statementType="PREPARED">
		CREATE INDEX idx_idString_locale_CM_L10NLocale ON CM_L10NLocale(idString, locale);
	</update>
	<update id="createCMDaemon" parameterType="java.util.Map" statementType="PREPARED">
		CREATE TABLE IF NOT EXISTS CM_Daemon (
			idKey BIGINT NOT NULL AUTO_INCREMENT,
			daemonName VARCHAR(50) NOT NULL,
			className VARCHAR(1024) NOT NULL,
			orderSeq INT NULL,
			status CHAR(1) NULL,
			autoStartYN CHAR(1) NULL,
			PRIMARY KEY (idKey)
		);
	</update>
	<update id="createPSMsg" parameterType="java.util.Map" statementType="PREPARED">
		CREATE TABLE IF NOT EXISTS PS_Msg (
			idKey BIGINT NOT NULL AUTO_INCREMENT,
			userIdKey BIGINT NOT NULL,
			deviceType VARCHAR(20) NULL,
			pushKey VARCHAR(4096) NULL,
			msgGroupIdKey BIGINT NULL,
			type CHAR(3) NULL,
			title VARCHAR(1024) NULL,
			message VARCHAR(8192) NULL,
			badgeNumber INT NULL,
			createDate DATETIME NULL,
			reserveDate DATETIME NULL,
			pmsStatus CHAR(1) NULL,
			pmsMaxRetryCount INT NULL,
			pmsTryCount INT NULL,
			sendDate DATETIME NULL,
			completeDate DATETIME NULL,
			errorCode VARCHAR(20) NULL,
			errorMessage VARCHAR(1024) NULL,
			errorDate DATETIME NULL,
			receiveStatus CHAR(1) NULL,
			receiveDate DATETIME NULL,
			readStatus CHAR(1) NULL,
			readDate DATETIME NULL,
			PRIMARY KEY (idKey)
		);
	</update>
	<update id="createIdxUserIdKeyPSMsg" parameterType="java.util.Map" statementType="PREPARED">
		CREATE INDEX idx_userIdKey_PS_Msg ON PS_Msg(userIdKey);
	</update>
	<update id="createIdxMsgGroupIdKeyPSMsg" parameterType="java.util.Map" statementType="PREPARED">
		CREATE INDEX idx_msgGroupIdKey_PS_Msg ON PS_Msg(msgGroupIdKey);
	</update>
	<update id="createIdxReserveDatePSMsg" parameterType="java.util.Map" statementType="PREPARED">
		CREATE INDEX idx_reserveDate_PS_Msg ON PS_Msg(reserveDate);
	</update>
	<update id="createIdxSendDatePSMsg" parameterType="java.util.Map" statementType="PREPARED">
		CREATE INDEX idx_sendDate_PS_Msg ON PS_Msg(sendDate);
	</update>
	<update id="createIdxPmsStatusPSMsg" parameterType="java.util.Map" statementType="PREPARED">
		CREATE INDEX idx_pmsStatus_PS_Msg ON PS_Msg(pmsStatus);
	</update>
	
	<update id="dropCMMenu" parameterType="java.util.Map" statementType="PREPARED">
		DROP TABLE CM_Menu;
	</update>
	<update id="dropCMMenuAuth" parameterType="java.util.Map" statementType="PREPARED">
		DROP TABLE CM_MenuAuth;
	</update>
</mapper>
