<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="kr.peelknight.mybatis.initFragmentMapper">
	<update id="createCMFragment" parameterType="java.util.Map" statementType="PREPARED">
		CREATE TABLE IF NOT EXISTS CM_Fragment (
			idKey BIGINT NOT NULL AUTO_INCREMENT,
			fragmentId VARCHAR(8) NOT NULL,
			fragmentType TINYINT NOT NULL,
			comment VARCHAR(4096) NULL,
			createDate DATETIME NULL,
			PRIMARY KEY (idKey)
		);
	</update>
	
	<update id="createCMFragmentCachedJson" parameterType="java.util.Map" statementType="PREPARED">
		CREATE TABLE IF NOT EXISTS CM_FragmentCachedJson (
			fragmentIdKey BIGINT NOT NULL,
			locale CHAR(5) NOT NULL,
			cachedJson TEXT NULL,
			PRIMARY KEY (fragmentIdKey, locale)
		);
	</update>
	
	<update id="createCMGridFragment" parameterType="java.util.Map" statementType="PREPARED">
		CREATE TABLE IF NOT EXISTS CM_GridFragment (
			fragmentIdKey BIGINT NOT NULL,
			serviceUrl VARCHAR(1024) NULL,
			needAuth CHAR(1) NULL,
			jqGrid CHAR(1) NULL,
			showCheckBox CHAR(1) NULL,
			stretchColumn VARCHAR(50) NULL,
			paging CHAR(1) NULL,
			popupFragmentId VARCHAR(8) NULL,
			gridAddButton CHAR(1) NULL,
			gridDelButton CHAR(1) NULL,
			gridSaveButton CHAR(1) NULL,
			gridSaveUrl VARCHAR(1024) NULL,
			gridRefreshButton CHAR(1) NULL,
			searchArea CHAR(1) NULL,
			PRIMARY KEY (fragmentIdKey)
		);
	</update>
	<update id="createCMGridColModel" parameterType="java.util.Map" statementType="PREPARED">
		CREATE TABLE IF NOT EXISTS CM_GridColModel (
			idKey BIGINT NOT NULL AUTO_INCREMENT,
			gridIdKey BIGINT NOT NULL,
			name VARCHAR(50) NULL,
			hidden CHAR(1) NULL,
			label VARCHAR(50) NULL,
			width INT NULL,
			align TINYINT NULL,
			format TINYINT NULL,
			codeType VARCHAR(30) NULL,
			editType TINYINT NULL,
			mandatory CHAR(1) NULL,
			orderSeq INT NULL,
			PRIMARY KEY (idKey)
		);
	</update>
	<update id="createCMGridColButton" parameterType="java.util.Map" statementType="PREPARED">
		CREATE TABLE IF NOT EXISTS CM_GridColButton (
			idKey BIGINT NOT NULL AUTO_INCREMENT,
			gridIdKey BIGINT NOT NULL,
			colIdKey BIGINT NOT NULL,
		 	preSet TINYINT NULL,
			iconCls VARCHAR(40) NULL,
			callback VARCHAR(100) NULL,
			orderSeq INT NULL,
			PRIMARY KEY (idKey)
		);
	</update>
	<update id="createCMPopupFragment" parameterType="java.util.Map" statementType="PREPARED">
		CREATE TABLE IF NOT EXISTS CM_PopupFragment (
			fragmentIdKey BIGINT NOT NULL,
			width INT NULL,
			height INT NULL,
			selectTitle VARCHAR(50) NULL,
			selectUrl VARCHAR(1024) NULL,
			prevUrl VARCHAR(1024) NULL,
			nextUrl VARCHAR(1024) NULL,
			selectErrorMsg VARCHAR(1024) NULL,
			insertTitle VARCHAR(50) NULL,
			insertUrl VARCHAR(1024) NULL,
			insertMethod VARCHAR(6) NULL,
			insertErrorMsg VARCHAR(1024) NULL,
			updateTitle VARCHAR(50) NULL,
			updateUrl VARCHAR(1024) NULL,
			updateMethod VARCHAR(6) NULL,
			updateErrorMsg VARCHAR(1024) NULL,
			deleteConfirm VARCHAR(1024) NULL,
			deleteUrl VARCHAR(1024) NULL,
			deleteMethod VARCHAR(6) NULL,
			deleteErrorMsg VARCHAR(1024) NULL,
			confirmButton VARCHAR(50) NULL,
			cancelButton VARCHAR(50) NULL,
			gridFragmentId VARCHAR(8) NULL,
			PRIMARY KEY (fragmentIdKey)
		);
	</update>
	<update id="createCMPopupRow" parameterType="java.util.Map" statementType="PREPARED">
		CREATE TABLE IF NOT EXISTS CM_PopupRow (
			idKey BIGINT NOT NULL AUTO_INCREMENT,
			popupIdKey BIGINT NOT NULL,
			hidden CHAR(1),
			title VARCHAR(50) NULL,
			name VARCHAR(50) NULL,
			dataType TINYINT NULL,
			mandatory CHAR(1) NULL,
			mandatoryErrorMsg VARCHAR(1024) NULL,
			defaultValue VARCHAR(100) NULL,
			codeType VARCHAR(30) NULL,
			showType TINYINT NULL,
			titleColSpan INT NULL,
			valueColSpan INT NULL,
			titleWidth VARCHAR(20) NULL,
			valueWidth VARCHAR(20) NULL,
			rowSeq INT NULL,
			orderSeq INT NULL,
			PRIMARY KEY (idKey)
		);
	</update>
</mapper>
