<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="kr.peelknight.mybatis.pushmsgMapper">
	<select id="selectPushMsg" resultType="kr.peelknight.push.model.PS_Msg"
		statementType="PREPARED" parameterType="java.util.Map">
		SELECT a.idKey       , a.userIdKey , a.deviceType      , a.pushKey    , a.msgGroupIdKey,
			   a.type        , a.title     , a.message         , a.badgeNumber, a.createDate   ,
			   a.reserveDate , a.pmsStatus , a.pmsMaxRetryCount, a.pmsTryCount, a.sendDate     ,
			   a.completeDate, a.errorCode , a.errorMessage    , a.errorDate  , a.receiveStatus,
			   a.receiveDate , a.readStatus, a.readDate        , b.userId     , b.userName
		  FROM PS_Msg a, CM_User b
		 WHERE a.idKey <![CDATA[ > ]]> 0
		   AND a.userIdKey = b.idKey
		<if test="pmsCandidatedMsg != null">
		   AND a.reserveDate <![CDATA[ <= ]]> now()
		   AND (a.pmsStatus = '0' OR a.pmsStatus = 'E')
		   AND a.pmsMaxRetryCount <![CDATA[ > ]]> a.pmsTryCount
		   AND (a.sendDate IS NULL OR ((a.sendDate + INTERVAL 60 SECOND) <![CDATA[ < ]]> now()))
		</if>
		<if test="userIdKey != null">
		   AND a.idKey = #{userIdKey}
		</if>
		<if test="pmsStatus != null">
		   AND a.pmsStatus = #{pmsStatus}
		</if>
		<if test="receiveStatus != null">
		   AND a.pmsStatus = #{receiveStatus}
		</if>
		<if test="readStatus != null">
		   AND a.readStatus = #{readStatus}
		</if>
		 ORDER BY a.idKey DESC
		<if test="offset != null and size != null">
		 LIMIT ${offset}, ${size}
		</if>
	</select>
	
	<select id="selectPushMsgPaging" resultType="kr.peelknight.common.model.CM_Paging"
		statementType="PREPARED" parameterType="java.util.Map">
		SELECT COUNT(idKey) as totalCount
		  FROM PS_Msg
		 WHERE idKey <![CDATA[ > ]]> 0
		<if test="pmsCandidatedMsg != null">
		   AND reserveDate <![CDATA[ <= ]]> now()
		   AND (pmsStatus = '0' OR pmsStatus = 'E')
		   AND pmsMaxRetryCount <![CDATA[ > ]]> pmsTryCount
		   AND (sendDate IS NULL OR sendDate((sendDate + INTERVAL 60 SECOND) <![CDATA[ < ]]> now()))
		</if>
		<if test="userIdKey != null">
		   AND idKey = #{userIdKey}
		</if>
		<if test="pmsStatus != null">
		   AND pmsStatus = #{pmsStatus}
		</if>
		<if test="receiveStatus != null">
		   AND pmsStatus = #{receiveStatus}
		</if>
		<if test="readStatus != null">
		   AND readStatus = #{readStatus}
		</if>
	</select>
	
	<insert id="insertPushMsg" parameterType="kr.peelknight.push.model.PS_Msg"
		statementType="PREPARED" useGeneratedKeys="true" keyProperty="idKey">
		INSERT INTO PS_Msg (
			userIdKey, deviceType      , pushKey    , msgGroupIdKey, type       ,
			title    , message         , badgeNumber, createDate   , reserveDate,
			pmsStatus, pmsMaxRetryCount, pmsTryCount
		) VALUES (
			#{userIdKey}, #{deviceType}      , #{pushKey}    , #{msgGroupIdKey}, #{type}       ,
			#{title}    , #{message}         , #{badgeNumber}, now()           , #{reserveDate},
			#{pmsStatus}, #{pmsMaxRetryCount}, #{pmsTryCount}
		)
	</insert>

	<update id="updatePushMsg" parameterType="kr.peelknight.push.model.PS_Msg"
		statementType="PREPARED">
		UPDATE PS_Msg
		   SET userIdKey=#{userIdKey},
			   deviceType=#{deviceType},
			   pushKey=#{pushKey},
			   msgGroupIdKey=#{msgGroupIdKey},
			   type=#{type},
			   title=#{title},
			   message=#{message},
			   badgeNumber=#{badgeNumber},
			   reserveDate=#{reserveDate},
			   pmsStatus=#{pmsStatus},
			   pmsMaxRetryCount=#{pmsMaxRetryCount},
			   pmsTryCount=#{pmsTryCount},
			   sendDate=#{sendDate},
			   completeDate=#{completeDate},
			   errorCode=#{errorCode},
			   errorMessage=#{errorMessage},
			   errorDate=#{errorDate},
			   receiveStatus=#{receiveStatus},
			   receiveDate=#{receiveDate},
			   readStatus=#{readStatus},
			   readDate=#{readDate}
		 WHERE idKey = #{idKey}
	</update>
	
	<update id="updateSendDateInPushMsg" parameterType="kr.peelknight.push.model.PS_Msg"
		statementType="PREPARED">
		UPDATE PS_Msg
		   SET pmsStatus=#{pmsStatus},
			   pmsTryCount=pmsTryCount+1,
			   sendDate=now()
		 WHERE idKey = #{idKey}
	</update>
	
	<update id="updateErrorDataInPushMsg" parameterType="kr.peelknight.push.model.PS_Msg"
		statementType="PREPARED">
		UPDATE PS_Msg
		   SET pmsStatus=#{pmsStatus},
		<if test="completeDate != null">
			   completeDate=now(),
		</if>
			   errorCode=#{errorCode},
			   errorMessage=#{errorMessage},
			   errorDate=#{errorDate}
		 WHERE idKey = #{idKey}
	</update>
	
	<update id="updateReceiveStatus" parameterType="kr.peelknight.push.model.PS_Msg"
		statementType="PREPARED">
		UPDATE PS_Msg
		   SET receiveStatus=#{receiveStatus},
			   receiveDate=now(),
		 WHERE idKey = #{idKey}
	</update>
	
	<update id="updateReadStatus" parameterType="kr.peelknight.push.model.PS_Msg"
		statementType="PREPARED">
		UPDATE PS_Msg
		   SET pmsStatus=#{pmsStatus},
			   readStatus=#{readStatus},
			   readDate=#{readDate}
		 WHERE idKey = #{idKey}
	</update>
</mapper>
