<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<properties resource="db.properties"/>
	<settings>
		<setting name="cacheEnabled" value="true"/>
	</settings>
	<environments default="development">
		<environment id="development">
			<transactionManager type="JDBC"/>
			<dataSource type="POOLED">
				<property name="driver"   value="${driver}"/>
				<property name="url"      value="${url}"/>
				<property name="username" value="${username}"/>
				<property name="password" value="${password}"/>
			</dataSource>
		</environment>
	</environments>
	<mappers>
		<mapper resource="common/initMapper.xml"/>
		<mapper resource="common/initFragmentMapper.xml"/>
		<mapper resource="common/codetypeMapper.xml"/>
		<mapper resource="common/codeMapper.xml"/>
		<mapper resource="common/userMapper.xml"/>
		<mapper resource="common/menuMapper.xml"/>
		<mapper resource="common/deviceMapper.xml"/>
		<mapper resource="common/l10nMapper.xml"/>
		<mapper resource="common/daemonMapper.xml"/>
		<mapper resource="common/pushmsgMapper.xml"/>
		<mapper resource="common/attachmentMapper.xml"/>
		<mapper resource="common/boardMapper.xml"/>
		<mapper resource="common/socketlogMapper.xml"/>
		<!--mapper resource="common/versionMapper.xml"/-->
		<mapper resource="fragment/fragmentMapper.xml"/>
		<mapper resource="fragment/fragmentCachedJsonMapper.xml"/>
		<mapper resource="fragment/gridFragmentMapper.xml"/>
		<mapper resource="fragment/gridColModelMapper.xml"/>
		<mapper resource="fragment/gridColButtonMapper.xml"/>
		<mapper resource="fragment/popupFragmentMapper.xml"/>
		<mapper resource="fragment/popupRowMapper.xml"/>
	</mappers>
</configuration>
