<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.peelknight.fragment.mybatis.gridcolmodelMapper">
	<select id="selectGridColModel" resultType="kr.peelknight.fragment.model.CM_GridColModel"
			statementType="PREPARED" parameterType="java.util.Map">
		SELECT idKey, gridIdKey, name, hidden, label, 
			   width, align, format, codeType, editType,
			   mandatory, orderSeq
		  FROM CM_GridColModel
		 WHERE idKey <![CDATA[ > ]]> 0
		<if test="idKey != null">
		   AND idKey = #{idKey}
		</if>
		<if test="gridIdKey != null">
		   AND gridIdKey = #{gridIdKey}
		</if>
		 ORDER BY orderSeq
		<if test="offset != null and size != null">
		 LIMIT ${offset}, ${size}
		</if>
	</select>

	<select id="selectGridColModelPaging" resultType="kr.peelknight.common.model.CM_Paging"
			statementType="PREPARED" parameterType="java.util.Map">
		SELECT COUNT(idKey) as totalCount
		  FROM CM_GridColModel
		 WHERE idKey <![CDATA[ > ]]> 0
		<if test="idKey != null">
		   AND idKey = #{idKey}
		</if>
		<if test="gridIdKey != null">
		   AND gridIdKey = #{gridIdKey}
		</if>
	</select>

	<insert id="insertGridColModel" parameterType="kr.peelknight.fragment.model.CM_GridColModel"
		statementType="PREPARED" useGeneratedKeys="true" keyProperty="idKey">
		INSERT INTO CM_GridColModel (
			gridIdKey, name, hidden, label, width,
			align, format, codeType, editType, mandatory,
			orderSeq
		) VALUES (
			#{gridIdKey}, #{name}, #{hidden}, #{label}, #{width},
			#{align}, #{format}, #{codeType}, #{editType}, #{mandatory},
			#{orderSeq}
		)
	</insert>

	<update id="updateGridColModel" parameterType="kr.peelknight.fragment.model.CM_GridColModel">
		UPDATE CM_GridColModel SET
			   gridIdKey = #{gridIdKey},
			   name = #{name},
			   hidden = #{hidden},
			   label = #{label},
			   width = #{width},
			   align = #{align},
			   format = #{format},
			   codeType = #{codeType},
			   editType = #{editType},
			   mandatory = #{mandatory},
			   orderSeq = #{orderSeq}
		 WHERE idKey = #{idKey}
	</update>

	<delete id="deleteGridColModel" parameterType="kr.peelknight.fragment.model.CM_GridColModel">
		DELETE FROM CM_GridColModel
		 WHERE idKey = #{idKey}
	</delete>
</mapper>