<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.peelknight.fragment.mybatis.popuprowMapper">
	<select id="selectPopupRow" resultType="kr.peelknight.fragment.model.CM_PopupRow"
			statementType="PREPARED" parameterType="java.util.Map">
		SELECT idKey, popupIdKey, hidden, title, name, 
			   dataType, mandatory, mandatoryErrorMsg, defaultValue, codeType, 
			   showType, titleColSpan, valueColSpan, titleWidth, valueWidth,
			   rowSeq, orderSeq
		  FROM CM_PopupRow
		 WHERE idKey <![CDATA[ > ]]> 0
		<if test="idKey != null">
		   AND idKey = #{idKey}
		</if>
		<if test="popupIdKey != null">
		   AND popupIdKey = #{popupIdKey}
		</if>
		 ORDER BY rowSeq, orderSeq
		<if test="offset != null and size != null">
		 LIMIT ${offset}, ${size}
		</if>
	</select>

	<select id="selectPopupRowPaging" resultType="kr.peelknight.common.model.CM_Paging"
			statementType="PREPARED" parameterType="java.util.Map">
		SELECT COUNT(idKey) as totalCount
		  FROM CM_PopupRow
		 WHERE idKey <![CDATA[ > ]]> 0
		<if test="idKey != null">
		   AND idKey = #{idKey}
		</if>
		<if test="popupIdKey != null">
		   AND popupIdKey = #{popupIdKey}
		</if>
	</select>

	<insert id="insertPopupRow" parameterType="kr.peelknight.fragment.model.CM_PopupRow"
		statementType="PREPARED" useGeneratedKeys="true" keyProperty="idKey">
		INSERT INTO CM_PopupRow (
			popupIdKey, hidden, title, name, dataType,
			mandatory, mandatoryErrorMsg, defaultValue, codeType, showType,
			titleColSpan, valueColSpan, titleWidth, valueWidth, rowSeq,
			orderSeq
		) VALUES (
			#{popupIdKey}, #{hidden}, #{title}, #{name}, #{dataType},
			#{mandatory}, #{mandatoryErrorMsg}, #{defaultValue}, #{codeType}, #{showType},
			#{titleColSpan}, #{valueColSpan}, #{titleWidth}, #{valueWidth}, #{rowSeq},
			#{orderSeq}
		)
	</insert>

	<update id="updatePopupRow" parameterType="kr.peelknight.fragment.model.CM_PopupRow">
		UPDATE CM_PopupRow SET
			   popupIdKey = #{popupIdKey},
			   hidden = #{hidden},
			   title = #{title},
			   name = #{name},
			   dataType = #{dataType},
			   mandatory = #{mandatory},
			   mandatoryErrorMsg = #{mandatoryErrorMsg},
			   defaultValue = #{defaultValue},
			   codeType = #{codeType},
			   showType = #{showType},
			   titleColSpan = #{titleColSpan},
			   valueColSpan = #{valueColSpan},
			   titleWidth = #{titleWidth},
			   valueWidth = #{valueWidth},
			   rowSeq = #{rowSeq},
			   orderSeq = #{orderSeq}
		 WHERE idKey = #{idKey}
	</update>

	<delete id="deletePopupRow" parameterType="kr.peelknight.fragment.model.CM_PopupRow">
		DELETE FROM CM_PopupRow
		 WHERE idKey = #{idKey}
	</delete>
</mapper>